header {
	background-image: url("../img/b89fc8764ab3e4e53dd822a5dd9fcbfbcbe2e5f5adb5a421f5a201ccb727b1d3.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin-bottom: 60px;*/
}

#services-area {
	background-image: url("../img/13a408f3590b4eca3d1693ed852529af514f5cd5400cc45b5345c8f18bbea80b.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#contact-area {
	background-image: url("../img/007 - idMyIjV.jpg");
	background-position: center center;
	background-size: cover;  
	background-attachment: fixed;
}